<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action='/' method='get'>
        <center><h1>Signup Here....</h1>
        <table>
                <tr>
                    <td>
                            Username:
                    </td>
                    <td>
                            <input type="text" name="username" required/>
                    </td>
                </tr>
                <tr>
                        <td>
                                Password:
                        </td>
                        <td>
                                <input type="password" name="password" required/>
                        </td>
                    </tr>
                    <tr>
                            <td>
                                    Email-id:
                            </td>
                            <td>
                                    <input type="email" name="email" required/>
                            </td>
                        </tr>
                <tr>
                   
                    <td>
                            <button type="submit">Signup</button>
                    </td>
                </tr>
            </table>
      
        </center>
</form>
</body>
</html>