<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form method="post" action="/remove">
    <h1>
        Delete employee
    </h1>
    <select name="eid">
    <%
    for(var i=0;i<data.length;i++)
    {
        %>
    
            <option value=<%= data[i].EID%>><%= data[i].EID%></option>
           
         
        <%
        }
        %>
    </select>
    <button type="submit">Remove Employee</button>
    
    

</form>
<form method="POST" action="/updatedetails">
    <button type="submit">Update Employee</button>
</form>
</body>
</html>