<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">    <ul>
        Login Name
    </ul>
    <ul><input type="text" name="name"></>
    <ul><button type="submit">Login</button></ul>
</form>

</body>

</html>